body,
html {
  padding: 0;
  margin: 0;
  font-family: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  font-size: 1em;
}

:root {
  --smtext-color: #848484;
  --border-color: #c4c4c4;
  --lrgtext-color: black;
  --btn-color: #fb8f1d;
  --lrgtitle: 64px;
  --mdtitle: 32px;
  --smtitle: 15px;
  --p-mdtext: 24px;
  --p-textdesktop: 17px;
  --p-textsmdevice: 13px;
}

//--- NAVBAR START ---//

.navbar1 {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  height: 60px;
  .topnav-links {
    display: none;
    position: relative;
    width: 100%;
  }
  ul {
    right: 300px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    place-items: center;
    color: black;
    font-size: 16px;

    .log-in-btn {
      margin-right: 20px;
      background-color: transparent;
      border: 1px solid var(--btn-color);
      width: 120px;
      height: 40px;
      border-radius: 8px;
      color: var(--btn-color);
    }
  }
  a {
    padding: 0 20px;
    text-decoration: none;
    color: inherit;
    &:nth-child(2) {
      color: var(--border-color);
    }
    &:nth-child(3) {
      color: var(--border-color);
    }
    &:nth-child(4) {
      color: var(--border-color);
    }
  }
  @media only screen and (min-width: 1300px) {
    margin-bottom: 100px;
    margin-top: 50px;
    flex-direction: row;
    .topnav-links {
      display: block;
    }
    .hamburger-menu {
      display: none;
    }
  }
}
.round-icon-nav {
  position: absolute;
  display: flex;
  width: 100%;
  img {
    position: absolute;
    left: -955px;
  }
}
.hamburger-menu {
  display: grid;
  height: 40px;
  cursor: pointer;
  margin: 15px;
  & > span {
    display: block;
    // box-shadow: 0.2px 0.8px 0px 0.1px rgba(0, 0, 0, 0.509);
    border-radius: 5px;
    width: 40px;
    height: 5px;
    transition: 0.3s ease-in-out;
    background-color: var(--border-color);
  }

  &.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-4px, 10px);
  }
  &.active span:nth-child(2) {
    transform: translate(50px);
    opacity: 0;
  }
  &.active span:nth-child(3) {
    transform-origin: center center;
    transform: rotate(45deg) translate(-9px, -15px);
  }
}

//--- BUTTONS ---//

.button {
  background-color: #fb8f1d;
  outline: none;
  color: white;
  border-radius: 10px;
  border: none;
  width: 120px;
  height: 40px;
  cursor: pointer;
}

//--- SEARCH HOLIDAY SECTION ---//

.search-holiday {
  .search-holiday-container {
    position: relative;
    display: flex;
    justify-content: space-around;

    .search-holiday-text-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      // padding: 0 50px;
      .search-holiday-title {
        padding-bottom: 20px;
        h1 {
          font-size: var(--mdtitle);
          width: 150px;
          padding-bottom: 10px;
        }
        h4 {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: 25px;
            width: 20px;

            background: black;
            border-color: black;
            height: 1px;
          }
        }
      }
      .options-selector-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-gap: 20% 11%;
        width: 100%;
        cursor: pointer;
      }
      .options-selector-item {
        display: flex;
        justify-content: space-between;
        place-items: center;
        height: 13vw;
        width: 40vw;
        border: 1px solid;
        border-radius: 5px;
        border-color: var(--border-color);
        position: relative;
        z-index: 2;
        label {
          padding-left: 15px;
          pointer-events: none;
          color: var(--smtext-color);
        }
        select {
          position: relative;
          z-index: 0;
          border: none;
          outline: none;
          background-color: transparent;
          margin-right: 10px;
        }
      }
      @media only screen and (min-width: 1800px) {
        .search-holiday-title {
          h4 {
            font-size: 24px;
          }
        }
        .options-selector-container {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
          grid-gap: 20% 24%;
          width: 100%;
          cursor: pointer;
        }
        .options-selector-item {
          width: 15vw;
          height: 4vw;
        }
      }
      @media only screen and (min-width: 1000px) {
        .search-holiday-title {
          h4 {
            font-size: 24px;
          }
        }
        .options-selector-container {
          display: grid;
          grid-template-columns: repeat(
            auto-fill,
            minmax(250px, 2fr)
          ) !important;
          grid-gap: 20% 10%;
          width: 100%;
          cursor: pointer;
        }
        .options-selector-item {
          width: 15vw !important;
          height: 3vw !important;
        }
      }
      @media only screen and (min-width: 600px) {
        .search-holiday-title {
          h4 {
            font-size: 24px;
          }
        }
        .options-selector-container {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(100px, 2fr));
          grid-gap: 20% 24%;
          width: 100%;
          cursor: pointer;
        }
        .options-selector-item {
          width: 19vw;
          height: 4vw;
        }
      }
      @media only screen and (min-width: 450px) {
        .search-holiday-title {
          h4 {
            font-size: 24px;
          }
        }
        .options-selector-container {
          display: grid;
          padding-top: 50px;
          grid-template-columns: repeat(auto-fill, minmax(180px, 2fr));
          grid-gap: 20% 14%;
          width: 100%;
          cursor: pointer;
        }
        .options-selector-item {
          height: 9vw;
          width: 35vw;
        }
      }
    }
    @media only screen and (max-width: 500px) {
      padding-top: 0px;
    }
  }
  .search-holiday-img-container {
    position: absolute;
    top: 5%;
    left: 15%;
    width: 100%;
    img {
      width: 100%;
      height: 35vw;
    }
  }
  @media only screen and (min-width: 1000px) {
    .search-holiday-text-container {
      padding: 0 50px;
    }
    .search-holiday-title #explore-title {
      font-size: var(--lrgtitle);
      width: 500px;
    }
  }
  @media only screen and (min-width: 700px) {
    .search-holiday-img-container {
      position: static;
    }
  }
  @media only screen and (max-width: 600px) {
    .search-holiday-img-container {
      left: 25%;
    }
  }
  @media only screen and (max-width: 320px) {
    .search-holiday-text-container {
      width: 100%;
      padding: 0 25px;
    }
  }
}

//--- EXPLORE WORLD SECTION START ---//

.content-wrapper {
  padding: 0 20%;
  @media screen and (max-width: 500px) {
    padding: 0 5%;
  }
}
.content-wrapper2 {
  padding: 0 10%;
  @media screen and (max-width: 600px) {
    padding: 0 10%;
  }
}
.content-wrapper3 {
  padding: 0 10%;
  @media screen and (max-width: 500px) {
    padding: 0 5%;
  }
  @media screen and (max-width: 320px) {
    padding: 0 0%;
  }
}
.explore-world {
  .explore-world-container {
    display: flex;
    padding: 100px 0;
    padding-top: 150px;
    place-items: center;
    .explore-world-text-container {
      p {
        line-height: 1.5;
        color: var(--smtext-color);
      }
    }
    .explore-world-img-container {
      max-width: 100%;

      img {
        width: 100%;
      }
    }
    @media only screen and (max-width: 800px) {
      display: flex;
      flex-direction: column;
    }
  }
  @media only screen and (min-width: 1800px) {
    padding-top: 150px;
    padding-bottom: 200px;
    .explore-world-img-container {
      width: 1600px;
    }
    .explore-world-text-container {
      padding: 0 80px;
      width: 100%;
      h1 {
        font-size: var(--mdtitle);
        padding-right: 200px;
      }
      p {
        color: var(--smtext-color);
        font-size: var(--p-textdesktop);
        width: 400px;
        line-height: 1.7;
      }
    }
  }
}

//--- GUIDES SECTION START ---/
.guides {
  .guides-container {
    display: flex;
    padding: 10px 0;
    padding-top: 76px;
    place-items: center;
    .guides-text-container {
      width: 90%;
      padding: 0 5px;
      p {
        color: var(--smtext-color);
        padding-right: 20px;
      }
    }
    .guides-img-container {
      width: 100%;
      padding: 0 10px;
      img {
        width: 100%;
      }
    }
    @media only screen and (max-width: 800px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  @media only screen and (min-width: 1800px) {
    .guides-container {
      padding: 180px 0;
      .guides-img-container {
        img {
          padding-left: 120px;
        }
      }
      .guides-text-container {
        h1 {
          font-size: var(--mdtitle);
          padding-right: 50px;
        }
        p {
          color: var(--smtext-color);
          font-size: var(--p-textdesktop);
          padding-right: 200px;
          line-height: 1.7;
        }
      }
    }
  }
}

//--- TESTIMONIALS SECTION START ---//
.testimonials {
  margin: 100px 0;
  @media only screen and (min-width: 700px) {
    display: flex;
    flex-direction: column;
    justify-content: row-reverse;
  }
  .testimonials-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    width: 100%;
    @media only screen and (min-width: 800px) {
      flex-direction: row-reverse;
      width: 100%;
    }
  }
  .testimonials-title-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    @media only screen and (min-width: 1300px) {
      justify-content: flex-start;
      width: 100%;
      h1 {
        width: 100%;
        font-size: var(--mdtitle);
      }
    }
    @media only screen and (max-width: 320px) {
      width: 90%;
    }
  }
  .testimonials-text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;

    h4 {
      margin: 0;
      color: var(--smtext-color);
      font-size: 15px;
    }
    .testimonials-stars-container {
      display: flex;
      justify-content: flex-start;
      width: 80%;
      padding-top: 20px;
    }
    @media only screen and (min-width: 700px) {
      width: 100%;
      padding-bottom: 40px;
      p {
        width: auto;
        // padding: 10px 0;
        min-width: 300px;
        max-width: 400px;
        font-size: var(--p-mdtext);
        line-height: 1.7;
      }
    }
    @media only screen and (min-width: 1300px) {
      .testimonials-text-container {
        width: 100%;
        padding-bottom: 40px;
        p {
          width: auto;
          // padding: 10px 0;
          padding-right: 0px;
          font-size: var(--p-mdtext);
          line-height: 1.7;
        }
      }
    }

    .testimonials-stars-container {
      width: 100%;
    }
    @media only screen and (max-width: 600px) {
      p {
        width: 90%;
      }
      .testimonials-stars-container {
        width: 100%;
      }
    }
    @media only screen and (max-width: 600px) {
      text-align: center;
      place-items: center;
      .testimonials-stars-container {
        display: flex;
        justify-content: center;
        place-items: center;
        width: 100%;
      }
    }
  }
}
.testimonials-img-container {
  display: flex;
  position: relative;
  max-width: 100%;
  img {
    width: 100%;
  }
  @media only screen and (min-width: 700px) {
    max-width: 416.84px;
    max-height: 522.98px;
    min-height: 300px;
    min-width: 300px;
    margin-right: 100px;
    img {
      width: 100%;
      margin-right: 40px;
    }
  }
}
.testimonials-nav {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  place-items: center;
  width: 132px;
  height: 60px;
  border-top-left-radius: 16px;
  background-color: white;
  border: none;
  outline: none;

  i {
    display: flex;
    justify-content: center;
    place-items: center;
    border: 2px solid black;
    place-items: center;
    font-size: 14px;
    height: 35px;
    width: 35px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 100%;

    &:nth-child(1) {
      color: var(--border-color);
      border-color: var(--border-color);
    }
  }
}

//--- CAROUSEL START ---//
.carousel {
  // display: flex;
  // flex-direction: column;
  // place-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  width: 100%;

  .carousel-header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    h1 {
      width: 100%;
    }
    .fa-chevron-right {
      padding-left: 10px;
      font-size: 10px;
    }
    button {
      display: flex;
      justify-content: flex-end;
      place-items: center;
      width: 100%;
      height: auto;
      outline: none;
      background: none;
      border: none;
      color: var(--btn-color);
    }
  }

  button {
    color: var(--btn-color);
    outline: none;
    border: none;
    background: none;
    padding: 0;
  }

  .carousel-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 2%;
    display: flex;
    place-items: center;
    justify-content: center;
  }
  .carousel-item {
    margin: 20px 0;
    max-width: 320px;
    max-height: 517px;
    p {
      color: var(--smtext-color);
    }
    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .carousel-img-container {
    position: relative;
    .carousel-img1 {
      max-height: 400px;
      object-fit: cover;
      width: 100%;
      border-radius: 8px;
    }
    .carousel-img2 {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      object-fit: cover;
      width: 100%;
      height: 350px;
    }
  }
  .text-cutout-container {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 120px;
    height: 56px;
    border-top-right-radius: 6px;
    background-color: white;
    h1 {
      padding: 0;
      margin: 0;
      margin-top: 10px;
    }
    p {
      padding: 0;
      margin: 5px 0;
    }
  }
  @media only screen and (min-width: 1000px) {
    .carousel-header {
      h1 {
        font-size: var(--mdtitle);
      }
    }
  }
  @media only screen and (max-width: 600px) {
    .carousel-grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
    .carousel-header {
      .carousel-title {
        padding: 0 40px;
      }
      button {
        padding-right: 40px;
      }
    }
  }
  @media only screen and (max-width: 420px) {
    .carousel-grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
    .carousel-header {
      .carousel-title {
        padding: 0 41px;
      }
    }
  }

  @media only screen and (max-width: 320px) {
    .carousel-grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      padding: 0 20px;
    }
    .carousel-header {
      .carousel-title {
        padding: 0 21px;
      }
      button {
        padding: 0 20px;
      }
    }
  }
}

//--- FOOTER START ---//

//--- NAVBAR FOOTER ---//

.navbar {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  place-items: center;
  width: 100vw;
  ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    list-style: none;
    padding: 0 20px;
    a {
      padding: 0 20px;
    }
  }
}

.footer-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 482px;
  margin-top: 80px;
  background-color: #f9f9fb;
  .footer-slogan {
    display: flex;
    flex-direction: column;
    padding-left: 22%;
    color: var(--smtext-color);

    .round-icon-container {
      display: flex;
      padding-bottom: 20px;
    }
  }
  .grid-container {
    display: grid;
    justify-content: center;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .grid-items-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    color: var(--lrgtext-color);
    h1 {
      font-size: 19px;
    }
    a {
      text-decoration: none;
      color: var(--smtext-color);
      padding: 5px 0;
    }
  }
  @media only screen and (max-width: 2200px) {
    .grid-container {
      grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }
  }
  @media only screen and (max-width: 1600px) {
    .grid-container {
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }
  }
  @media only screen and (max-width: 1200px) {
    .grid-container {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }
  @media only screen and (max-width: 1000px) {
    .grid-container {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }
  @media only screen and (max-width: 800px) {
    .grid-container {
      grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    }
  }
  @media only screen and (max-width: 450px) {
    .grid-items-links {
      h1 {
        font-size: var(--smtitle);
      }
      a {
        font-size: 12px;
        line-height: 1.7;
      }
    }
    .grid-container {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      p {
        font-size: 12px;
        line-height: 1.7;
      }
    }
  }
  @media only screen and (max-width: 320px) {
    .grid-items-links {
      padding: 0 25px;
      a {
        font-size: 11.5px;
        line-height: 1.2;
      }
    }
    .grid-container {
      p {
        font-size: 11.5px;
      }
    }
  }
}
.copyright {
  display: flex;
  justify-content: center;
  background-color: #f9f9fb;
  color: var(--smtext-color);
  margin: 0;
  padding: 0;
  width: 100%;
  place-items: center;
  @media only screen and(max-width:600px) {
    p {
      margin: 0;
      font-size: 12px;
    }
  }
}
.socials-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 20px 0px;
  place-items: center;
  background-color: #f9f9fb;
  a {
    padding: 0 20px;
  }
  @media only screen and (max-width: 600px) {
    a {
      padding: 0 15px;
    }
    img {
      height: 15px;
    }
  }
  @media only screen and (max-width: 320px) {
    img {
      height: 15px;
    }
  }
}
.line-devider-container {
  display: flex;
  justify-content: center;
  background-color: #f9f9fb;

  .line-devider {
    height: 0.6px;
    width: 75%;
    margin: 10px 0;
    margin-top: 20px;
    background: var(--border-color);
  }
}
