body,
html {
  padding: 0;
  margin: 0;
  font-family: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  font-size: 1em;
}

:root {
  --smtext-color: #848484;
  --border-color: #c4c4c4;
  --lrgtext-color: black;
  --btn-color: #fb8f1d;
  --lrgtitle: 64px;
  --mdtitle: 32px;
  --smtitle: 15px;
  --p-mdtext: 24px;
  --p-textdesktop: 17px;
  --p-textsmdevice: 13px;
}

.navbar1 {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  height: 60px;
}

.navbar1 .topnav-links {
  display: none;
  position: relative;
  width: 100%;
}

.navbar1 ul {
  right: 300px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  place-items: center;
  color: black;
  font-size: 16px;
}

.navbar1 ul .log-in-btn {
  margin-right: 20px;
  background-color: transparent;
  border: 1px solid var(--btn-color);
  width: 120px;
  height: 40px;
  border-radius: 8px;
  color: var(--btn-color);
}

.navbar1 a {
  padding: 0 20px;
  text-decoration: none;
  color: inherit;
}

.navbar1 a:nth-child(2) {
  color: var(--border-color);
}

.navbar1 a:nth-child(3) {
  color: var(--border-color);
}

.navbar1 a:nth-child(4) {
  color: var(--border-color);
}

@media only screen and (min-width: 1300px) {
  .navbar1 {
    margin-bottom: 100px;
    margin-top: 50px;
    flex-direction: row;
  }
  .navbar1 .topnav-links {
    display: block;
  }
  .navbar1 .hamburger-menu {
    display: none;
  }
}

.round-icon-nav {
  position: absolute;
  display: flex;
  width: 100%;
}

.round-icon-nav img {
  position: absolute;
  left: -955px;
}

.hamburger-menu {
  display: grid;
  height: 40px;
  cursor: pointer;
  margin: 15px;
}

.hamburger-menu > span {
  display: block;
  border-radius: 5px;
  width: 40px;
  height: 5px;
  transition: 0.3s ease-in-out;
  background-color: var(--border-color);
}

.hamburger-menu.active span:nth-child(1) {
  transform: rotate(-45deg) translate(-4px, 10px);
}

.hamburger-menu.active span:nth-child(2) {
  transform: translate(50px);
  opacity: 0;
}

.hamburger-menu.active span:nth-child(3) {
  transform-origin: center center;
  transform: rotate(45deg) translate(-9px, -15px);
}

.button {
  background-color: #fb8f1d;
  outline: none;
  color: white;
  border-radius: 10px;
  border: none;
  width: 120px;
  height: 40px;
  cursor: pointer;
}

.search-holiday .search-holiday-container {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.search-holiday .search-holiday-container .search-holiday-text-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-holiday .search-holiday-container .search-holiday-text-container .search-holiday-title {
  padding-bottom: 20px;
}

.search-holiday .search-holiday-container .search-holiday-text-container .search-holiday-title h1 {
  font-size: var(--mdtitle);
  width: 150px;
  padding-bottom: 10px;
}

.search-holiday .search-holiday-container .search-holiday-text-container .search-holiday-title h4 {
  position: relative;
}

.search-holiday .search-holiday-container .search-holiday-text-container .search-holiday-title h4::before {
  content: "";
  position: absolute;
  top: 25px;
  width: 20px;
  background: black;
  border-color: black;
  height: 1px;
}

.search-holiday .search-holiday-container .search-holiday-text-container .options-selector-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 20% 11%;
  width: 100%;
  cursor: pointer;
}

.search-holiday .search-holiday-container .search-holiday-text-container .options-selector-item {
  display: flex;
  justify-content: space-between;
  place-items: center;
  height: 13vw;
  width: 40vw;
  border: 1px solid;
  border-radius: 5px;
  border-color: var(--border-color);
  position: relative;
  z-index: 2;
}

.search-holiday .search-holiday-container .search-holiday-text-container .options-selector-item label {
  padding-left: 15px;
  pointer-events: none;
  color: var(--smtext-color);
}

.search-holiday .search-holiday-container .search-holiday-text-container .options-selector-item select {
  position: relative;
  z-index: 0;
  border: none;
  outline: none;
  background-color: transparent;
  margin-right: 10px;
}

@media only screen and (min-width: 1800px) {
  .search-holiday .search-holiday-container .search-holiday-text-container .search-holiday-title h4 {
    font-size: 24px;
  }
  .search-holiday .search-holiday-container .search-holiday-text-container .options-selector-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
    grid-gap: 20% 24%;
    width: 100%;
    cursor: pointer;
  }
  .search-holiday .search-holiday-container .search-holiday-text-container .options-selector-item {
    width: 15vw;
    height: 4vw;
  }
}

@media only screen and (min-width: 1000px) {
  .search-holiday .search-holiday-container .search-holiday-text-container .search-holiday-title h4 {
    font-size: 24px;
  }
  .search-holiday .search-holiday-container .search-holiday-text-container .options-selector-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 2fr)) !important;
    grid-gap: 20% 10%;
    width: 100%;
    cursor: pointer;
  }
  .search-holiday .search-holiday-container .search-holiday-text-container .options-selector-item {
    width: 15vw !important;
    height: 3vw !important;
  }
}

@media only screen and (min-width: 600px) {
  .search-holiday .search-holiday-container .search-holiday-text-container .search-holiday-title h4 {
    font-size: 24px;
  }
  .search-holiday .search-holiday-container .search-holiday-text-container .options-selector-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 2fr));
    grid-gap: 20% 24%;
    width: 100%;
    cursor: pointer;
  }
  .search-holiday .search-holiday-container .search-holiday-text-container .options-selector-item {
    width: 19vw;
    height: 4vw;
  }
}

@media only screen and (min-width: 450px) {
  .search-holiday .search-holiday-container .search-holiday-text-container .search-holiday-title h4 {
    font-size: 24px;
  }
  .search-holiday .search-holiday-container .search-holiday-text-container .options-selector-container {
    display: grid;
    padding-top: 50px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 2fr));
    grid-gap: 20% 14%;
    width: 100%;
    cursor: pointer;
  }
  .search-holiday .search-holiday-container .search-holiday-text-container .options-selector-item {
    height: 9vw;
    width: 35vw;
  }
}

@media only screen and (max-width: 500px) {
  .search-holiday .search-holiday-container {
    padding-top: 0px;
  }
}

.search-holiday .search-holiday-img-container {
  position: absolute;
  top: 5%;
  left: 15%;
  width: 100%;
}

.search-holiday .search-holiday-img-container img {
  width: 100%;
  height: 35vw;
}

@media only screen and (min-width: 1000px) {
  .search-holiday .search-holiday-text-container {
    padding: 0 50px;
  }
  .search-holiday .search-holiday-title #explore-title {
    font-size: var(--lrgtitle);
    width: 500px;
  }
}

@media only screen and (min-width: 700px) {
  .search-holiday .search-holiday-img-container {
    position: static;
  }
}

@media only screen and (max-width: 600px) {
  .search-holiday .search-holiday-img-container {
    left: 25%;
  }
}

@media only screen and (max-width: 320px) {
  .search-holiday .search-holiday-text-container {
    width: 100%;
    padding: 0 25px;
  }
}

.content-wrapper {
  padding: 0 20%;
}

@media screen and (max-width: 500px) {
  .content-wrapper {
    padding: 0 5%;
  }
}

.content-wrapper2 {
  padding: 0 10%;
}

@media screen and (max-width: 600px) {
  .content-wrapper2 {
    padding: 0 10%;
  }
}

.content-wrapper3 {
  padding: 0 10%;
}

@media screen and (max-width: 500px) {
  .content-wrapper3 {
    padding: 0 5%;
  }
}

@media screen and (max-width: 320px) {
  .content-wrapper3 {
    padding: 0 0%;
  }
}

.explore-world .explore-world-container {
  display: flex;
  padding: 100px 0;
  padding-top: 150px;
  place-items: center;
}

.explore-world .explore-world-container .explore-world-text-container p {
  line-height: 1.5;
  color: var(--smtext-color);
}

.explore-world .explore-world-container .explore-world-img-container {
  max-width: 100%;
}

.explore-world .explore-world-container .explore-world-img-container img {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .explore-world .explore-world-container {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 1800px) {
  .explore-world {
    padding-top: 150px;
    padding-bottom: 200px;
  }
  .explore-world .explore-world-img-container {
    width: 1600px;
  }
  .explore-world .explore-world-text-container {
    padding: 0 80px;
    width: 100%;
  }
  .explore-world .explore-world-text-container h1 {
    font-size: var(--mdtitle);
    padding-right: 200px;
  }
  .explore-world .explore-world-text-container p {
    color: var(--smtext-color);
    font-size: var(--p-textdesktop);
    width: 400px;
    line-height: 1.7;
  }
}

.guides .guides-container {
  display: flex;
  padding: 10px 0;
  padding-top: 76px;
  place-items: center;
}

.guides .guides-container .guides-text-container {
  width: 90%;
  padding: 0 5px;
}

.guides .guides-container .guides-text-container p {
  color: var(--smtext-color);
  padding-right: 20px;
}

.guides .guides-container .guides-img-container {
  width: 100%;
  padding: 0 10px;
}

.guides .guides-container .guides-img-container img {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .guides .guides-container {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media only screen and (min-width: 1800px) {
  .guides .guides-container {
    padding: 180px 0;
  }
  .guides .guides-container .guides-img-container img {
    padding-left: 120px;
  }
  .guides .guides-container .guides-text-container h1 {
    font-size: var(--mdtitle);
    padding-right: 50px;
  }
  .guides .guides-container .guides-text-container p {
    color: var(--smtext-color);
    font-size: var(--p-textdesktop);
    padding-right: 200px;
    line-height: 1.7;
  }
}

.testimonials {
  margin: 100px 0;
}

@media only screen and (min-width: 700px) {
  .testimonials {
    display: flex;
    flex-direction: column;
    justify-content: row-reverse;
  }
}

.testimonials .testimonials-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  width: 100%;
}

@media only screen and (min-width: 800px) {
  .testimonials .testimonials-container {
    flex-direction: row-reverse;
    width: 100%;
  }
}

.testimonials .testimonials-title-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

@media only screen and (min-width: 1300px) {
  .testimonials .testimonials-title-container {
    justify-content: flex-start;
    width: 100%;
  }
  .testimonials .testimonials-title-container h1 {
    width: 100%;
    font-size: var(--mdtitle);
  }
}

@media only screen and (max-width: 320px) {
  .testimonials .testimonials-title-container {
    width: 90%;
  }
}

.testimonials .testimonials-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.testimonials .testimonials-text-container h4 {
  margin: 0;
  color: var(--smtext-color);
  font-size: 15px;
}

.testimonials .testimonials-text-container .testimonials-stars-container {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  padding-top: 20px;
}

@media only screen and (min-width: 700px) {
  .testimonials .testimonials-text-container {
    width: 100%;
    padding-bottom: 40px;
  }
  .testimonials .testimonials-text-container p {
    width: auto;
    min-width: 300px;
    max-width: 400px;
    font-size: var(--p-mdtext);
    line-height: 1.7;
  }
}

@media only screen and (min-width: 1300px) {
  .testimonials .testimonials-text-container .testimonials-text-container {
    width: 100%;
    padding-bottom: 40px;
  }
  .testimonials .testimonials-text-container .testimonials-text-container p {
    width: auto;
    padding-right: 0px;
    font-size: var(--p-mdtext);
    line-height: 1.7;
  }
}

.testimonials .testimonials-text-container .testimonials-stars-container {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .testimonials .testimonials-text-container p {
    width: 90%;
  }
  .testimonials .testimonials-text-container .testimonials-stars-container {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .testimonials .testimonials-text-container {
    text-align: center;
    place-items: center;
  }
  .testimonials .testimonials-text-container .testimonials-stars-container {
    display: flex;
    justify-content: center;
    place-items: center;
    width: 100%;
  }
}

.testimonials-img-container {
  display: flex;
  position: relative;
  max-width: 100%;
}

.testimonials-img-container img {
  width: 100%;
}

@media only screen and (min-width: 700px) {
  .testimonials-img-container {
    max-width: 416.84px;
    max-height: 522.98px;
    min-height: 300px;
    min-width: 300px;
    margin-right: 100px;
  }
  .testimonials-img-container img {
    width: 100%;
    margin-right: 40px;
  }
}

.testimonials-nav {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  place-items: center;
  width: 132px;
  height: 60px;
  border-top-left-radius: 16px;
  background-color: white;
  border: none;
  outline: none;
}

.testimonials-nav i {
  display: flex;
  justify-content: center;
  place-items: center;
  border: 2px solid black;
  place-items: center;
  font-size: 14px;
  height: 35px;
  width: 35px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 100%;
}

.testimonials-nav i:nth-child(1) {
  color: var(--border-color);
  border-color: var(--border-color);
}

.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  width: 100%;
}

.carousel .carousel-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.carousel .carousel-header h1 {
  width: 100%;
}

.carousel .carousel-header .fa-chevron-right {
  padding-left: 10px;
  font-size: 10px;
}

.carousel .carousel-header button {
  display: flex;
  justify-content: flex-end;
  place-items: center;
  width: 100%;
  height: auto;
  outline: none;
  background: none;
  border: none;
  color: var(--btn-color);
}

.carousel button {
  color: var(--btn-color);
  outline: none;
  border: none;
  background: none;
  padding: 0;
}

.carousel .carousel-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 2%;
  display: flex;
  place-items: center;
  justify-content: center;
}

.carousel .carousel-item {
  margin: 20px 0;
  max-width: 320px;
  max-height: 517px;
}

.carousel .carousel-item p {
  color: var(--smtext-color);
}

.carousel .carousel-item a {
  color: inherit;
  text-decoration: none;
}

.carousel .carousel-img-container {
  position: relative;
}

.carousel .carousel-img-container .carousel-img1 {
  max-height: 400px;
  object-fit: cover;
  width: 100%;
  border-radius: 8px;
}

.carousel .carousel-img-container .carousel-img2 {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  object-fit: cover;
  width: 100%;
  height: 350px;
}

.carousel .text-cutout-container {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 120px;
  height: 56px;
  border-top-right-radius: 6px;
  background-color: white;
}

.carousel .text-cutout-container h1 {
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.carousel .text-cutout-container p {
  padding: 0;
  margin: 5px 0;
}

@media only screen and (min-width: 1000px) {
  .carousel .carousel-header h1 {
    font-size: var(--mdtitle);
  }
}

@media only screen and (max-width: 600px) {
  .carousel .carousel-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
  .carousel .carousel-header .carousel-title {
    padding: 0 40px;
  }
  .carousel .carousel-header button {
    padding-right: 40px;
  }
}

@media only screen and (max-width: 420px) {
  .carousel .carousel-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
  .carousel .carousel-header .carousel-title {
    padding: 0 41px;
  }
}

@media only screen and (max-width: 320px) {
  .carousel .carousel-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    padding: 0 20px;
  }
  .carousel .carousel-header .carousel-title {
    padding: 0 21px;
  }
  .carousel .carousel-header button {
    padding: 0 20px;
  }
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  place-items: center;
  width: 100vw;
}

.navbar ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  list-style: none;
  padding: 0 20px;
}

.navbar ul a {
  padding: 0 20px;
}

.footer-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 482px;
  margin-top: 80px;
  background-color: #f9f9fb;
}

.footer-container .footer-slogan {
  display: flex;
  flex-direction: column;
  padding-left: 22%;
  color: var(--smtext-color);
}

.footer-container .footer-slogan .round-icon-container {
  display: flex;
  padding-bottom: 20px;
}

.footer-container .grid-container {
  display: grid;
  justify-content: center;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.footer-container .grid-items-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--lrgtext-color);
}

.footer-container .grid-items-links h1 {
  font-size: 19px;
}

.footer-container .grid-items-links a {
  text-decoration: none;
  color: var(--smtext-color);
  padding: 5px 0;
}

@media only screen and (max-width: 2200px) {
  .footer-container .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }
}

@media only screen and (max-width: 1600px) {
  .footer-container .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
}

@media only screen and (max-width: 1200px) {
  .footer-container .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media only screen and (max-width: 1000px) {
  .footer-container .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media only screen and (max-width: 800px) {
  .footer-container .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  }
}

@media only screen and (max-width: 450px) {
  .footer-container .grid-items-links h1 {
    font-size: var(--smtitle);
  }
  .footer-container .grid-items-links a {
    font-size: 12px;
    line-height: 1.7;
  }
  .footer-container .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  .footer-container .grid-container p {
    font-size: 12px;
    line-height: 1.7;
  }
}

@media only screen and (max-width: 320px) {
  .footer-container .grid-items-links {
    padding: 0 25px;
  }
  .footer-container .grid-items-links a {
    font-size: 11.5px;
    line-height: 1.2;
  }
  .footer-container .grid-container p {
    font-size: 11.5px;
  }
}

.copyright {
  display: flex;
  justify-content: center;
  background-color: #f9f9fb;
  color: var(--smtext-color);
  margin: 0;
  padding: 0;
  width: 100%;
  place-items: center;
}

@media only screen and (max-width: 600px) {
  .copyright p {
    margin: 0;
    font-size: 12px;
  }
}

.socials-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 20px 0px;
  place-items: center;
  background-color: #f9f9fb;
}

.socials-container a {
  padding: 0 20px;
}

@media only screen and (max-width: 600px) {
  .socials-container a {
    padding: 0 15px;
  }
  .socials-container img {
    height: 15px;
  }
}

@media only screen and (max-width: 320px) {
  .socials-container img {
    height: 15px;
  }
}

.line-devider-container {
  display: flex;
  justify-content: center;
  background-color: #f9f9fb;
}

.line-devider-container .line-devider {
  height: 0.6px;
  width: 75%;
  margin: 10px 0;
  margin-top: 20px;
  background: var(--border-color);
}
/*# sourceMappingURL=main.css.map */