body,
html {
  padding: 0;
  margin: 0;
  font-family: none;
  list-style: none;
  text-decoration: none;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

:root {
  --smtext-color: #848484;
  --border-color: #c4c4c4;
  --lrgtext-color: black;
  --btn-color: #fb8f1d;
  --lrgtitle: 64px;
  --mdtitle: 32px;
  --smtitle: 15px;
}

.navbar1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100vw;
}

.navbar1 ul {
  display: none;
}

.hamburger-menu {
  display: -ms-grid;
  display: grid;
  height: 50px;
  cursor: pointer;
  margin: 15px;
}

.hamburger-menu > span {
  display: block;
  border-radius: 5px;
  width: 45px;
  height: 5px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: var(--border-color);
}

.hamburger-menu.active span:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-9px, 10px);
          transform: rotate(-45deg) translate(-9px, 10px);
}

.hamburger-menu.active span:nth-child(2) {
  -webkit-transform: translate(50px);
          transform: translate(50px);
  opacity: 0;
}

.hamburger-menu.active span:nth-child(3) {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: rotate(45deg) translate(-14px, -15px);
          transform: rotate(45deg) translate(-14px, -15px);
}

.button {
  background-color: #fb8f1d;
  outline: none;
  color: white;
  border-radius: 10px;
  border: none;
  width: 120px;
  height: 40px;
  cursor: pointer;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100vw;
}

.navbar ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-decoration: none;
  list-style: none;
  padding: 0 20px;
}

.navbar ul a {
  padding: 0 20px;
}

.search-holiday .search-holiday-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.search-holiday .search-holiday-container .search-holiday-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 0 50px;
}

.search-holiday .search-holiday-container .search-holiday-text-container .search-holiday-title {
  padding-bottom: 50px;
}

.search-holiday .search-holiday-container .search-holiday-text-container .search-holiday-title h1 {
  font-size: var(--mdtitle);
  width: 150px;
}

.search-holiday .search-holiday-container .search-holiday-text-container .options-selector-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 20% 11%;
  width: 100%;
  cursor: pointer;
}

.search-holiday .search-holiday-container .search-holiday-text-container .options-selector-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  place-items: center;
  height: 4vh;
  border: 1px solid;
  border-radius: 5px;
  border-color: var(--border-color);
  position: relative;
  z-index: 2;
}

.search-holiday .search-holiday-container .search-holiday-text-container .options-selector-item label {
  padding-left: 15px;
  pointer-events: none;
}

.search-holiday .search-holiday-container .search-holiday-text-container .options-selector-item select {
  position: relative;
  z-index: 0;
  border: none;
  outline: none;
  background-color: transparent;
  margin-right: 10px;
}

@media only screen and (max-width: 320px) {
  .search-holiday .search-holiday-container .search-holiday-text-container {
    width: 100%;
    padding: 0 25px;
  }
}

.search-holiday .search-holiday-img-container {
  position: absolute;
  top: 5%;
  left: 15%;
  width: 100%;
}

.search-holiday .search-holiday-img-container img {
  width: 100%;
  height: 35vw;
}

@media only screen and (max-width: 600px) {
  .search-holiday .search-holiday-img-container {
    left: 25%;
  }
}

.explore-world .explore-world-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0;
  padding-top: 100px;
}

.explore-world .explore-world-container .explore-world-img-container {
  width: 100%;
  padding-left: 10px;
}

.explore-world .explore-world-container .explore-world-img-container img {
  width: 100%;
}

.explore-world .explore-world-container .explore-world-text-container {
  padding: 0 10px;
  width: 90%;
}

.explore-world .explore-world-container .explore-world-text-container p {
  color: var(--smtext-color);
}

.guides .guides-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0;
}

.guides .guides-container .guides-text-container {
  width: 90%;
  padding: 0 5px;
  padding-left: 25px;
}

.guides .guides-container .guides-text-container p {
  color: var(--smtext-color);
}

.guides .guides-container .guides-img-container {
  width: 100%;
  padding: 0 10px;
}

.guides .guides-container .guides-img-container img {
  width: 100%;
}

.testimonials {
  margin: 50px 0;
}

.testimonials .testimonials-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-items: center;
  width: 100vw;
}

.testimonials .testimonials-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 80%;
}

@media only screen and (max-width: 320px) {
  .testimonials .testimonials-title-container {
    width: 90%;
  }
}

.testimonials .testimonials-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-items: center;
  width: 100%;
}

.testimonials .testimonials-text-container h4 {
  margin: 0;
  color: var(--smtext-color);
  font-size: 15px;
}

.testimonials .testimonials-text-container .testimonials-stars-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 80%;
  padding-top: 20px;
}

@media only screen and (max-width: 600px) {
  .testimonials .testimonials-text-container .testimonials-stars-container {
    width: 90%;
  }
}

.testimonials .testimonials-text-container p {
  width: 80%;
  padding-top: 5px;
}

@media only screen and (max-width: 600px) {
  .testimonials .testimonials-text-container p {
    width: 90%;
  }
}

.testimonials .testimonials-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 90%;
}

.testimonials .testimonials-img-container img {
  width: 100%;
}

.testimonials .testimonials-nav {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  place-items: center;
  width: 132px;
  height: 60px;
  border-top-left-radius: 16px;
  background-color: white;
  border: none;
  outline: none;
}

.testimonials .testimonials-nav i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-items: center;
  border: 2px solid black;
  place-items: center;
  font-size: 14px;
  height: 35px;
  width: 35px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 100%;
}

.testimonials .testimonials-nav i:nth-child(1) {
  color: var(--border-color);
  border-color: var(--border-color);
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-items: center;
}

.carousel button {
  color: var(--btn-color);
  outline: none;
  border: none;
  background: none;
  padding: 0;
}

.carousel .carousel-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65%;
}

.carousel .carousel-item {
  margin: 20px 0;
}

.carousel .carousel-item p {
  color: var(--smtext-color);
}

.carousel .carousel-item a {
  color: inherit;
  text-decoration: none;
}

.carousel .carousel-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  place-items: center;
}

.carousel .carousel-header h1 {
  width: 100%;
}

.carousel .carousel-header .fa-chevron-right {
  padding-left: 10px;
  font-size: 10px;
}

.carousel .carousel-header button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  place-items: center;
  height: auto;
  outline: none;
  background: none;
  border: none;
  color: var(--btn-color);
}

.carousel .carousel-img-container {
  position: relative;
}

.carousel .carousel-img-container img {
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.carousel .carousel-img-container .carousel-img-2 {
  border-radius: 8px;
}

.carousel .text-cutout-container {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 120px;
  height: 56px;
  border-top-right-radius: 6px;
  background-color: white;
}

.carousel .text-cutout-container h1 {
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.carousel .text-cutout-container p {
  padding: 0;
  margin: 5px 0;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 482px;
  background-color: #f9f9fb;
}

.footer-container .footer-slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 27%;
  color: var(--smtext-color);
}

.footer-container .footer-slogan .round-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
}

.footer-container .grid-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-items: center;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

@media only screen and (max-width: 450px) {
  .footer-container .grid-container {
    -ms-grid-columns: (minmax(150px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  .footer-container .grid-container p {
    font-size: 12px;
    line-height: 1.7;
  }
}

@media only screen and (max-width: 320px) {
  .footer-container .grid-container p {
    font-size: 11.5px;
  }
}

.footer-container .grid-items-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 50px;
  color: var(--lrgtext-color);
}

.footer-container .grid-items-links h1 {
  font-size: 19px;
}

.footer-container .grid-items-links a {
  text-decoration: none;
  color: var(--smtext-color);
  padding: 5px 0;
}

@media only screen and (max-width: 450px) {
  .footer-container .grid-items-links h1 {
    font-size: var(--smtitle);
  }
  .footer-container .grid-items-links a {
    font-size: 12px;
    line-height: 1.7;
  }
}

@media only screen and (max-width: 320px) {
  .footer-container .grid-items-links {
    padding: 0 25px;
  }
  .footer-container .grid-items-links a {
    font-size: 11.5px;
    line-height: 1.2;
  }
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f9f9fb;
  color: var(--smtext-color);
  margin: 0;
  padding: 0;
  width: 100%;
  place-items: center;
}

@media only screen and (max-width: 320px) {
  .copyright p {
    margin: 0;
    font-size: 12px;
  }
}

.socials-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  padding: 20px 0px;
  place-items: center;
  background-color: #f9f9fb;
}

.socials-container a {
  padding: 0 20px;
}

@media only screen and (max-width: 600px) {
  .socials-container a {
    padding: 0 15px;
  }
  .socials-container img {
    height: 15px;
  }
}

@media only screen and (max-width: 320px) {
  .socials-container img {
    height: 15px;
  }
}

.line-devider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f9f9fb;
}

.line-devider-container .line-devider {
  height: 0.6px;
  width: 75%;
  margin: 10px 0;
  margin-top: 20px;
  background: var(--border-color);
}
/*# sourceMappingURL=main.css.map */